body { 
      background-color: #808080;
      width: 100%; 
      height: 100vh; 
      color: #fff; 
      font-family: sans-serif;
}

fieldset { 
    border: none; 
    margin-bottom: 1em;
}

h1 {
    text-align: center; 
    margin: 1.5rem auto; }

.description {
    text-align: center; 
    font-style: italic; 
    margin: 1rem auto; 
}

p {
    text-align: left;
    font-weight: bold;
}

input, textarea, select { 
    min-height: 2em; 
    width: 100%; 
    margin-top: 10px; 
    padding: 0.5em;
    border: 3px solid #000;
    box-sizing: border-box;
    margin-bottom: 1em; 
}

label {
    margin-top: 1em; 
    display: block; 
}

legend {
    margin-top: 1em; 
    font-weight: bold;
    text-align: left; 
}

form {
    width: 60vw; 
    padding: 1em; 
    max-width: 500px; 
    min-width: 300px; 
    margin: 2em auto;
    border-radius: 8px;
    box-shadow: 0 0 10px;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-right: 0.5em;
    margin-top: 1em;
    cursor: pointer;
    vertical-align: middle;
}

.inline {
  display: inline-flex;
  align-items: center;
  margin-right: 1em;
  margin-top: 0.5em;
}   

button { 
    display: block; 
    border: 2px solid #000; 
    margin: 1.5em auto 0; 
    background-color: #fff;
    padding: 0.75em 1.5em;
    cursor: pointer;
    color: #000;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ccc;
}

@media (max-width: 500px) {
  form {
    width: 90vw;
    padding: 1em;
  }
}